<html>
    <title>Delete Whistle | Confirmation</title>
    <style>
		l {
    		font-size: 17px;
    		position: absolute;
    		top: 60px;
  		}
        textarea {
            resize: none;
        }
        topic {
            width: 40%;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
			background-color: black;
    		color: white;
        }
        p {
            font-size: 20px;
        }
        center {
        	text-align: center;
        }
        rightSide{
            position: absolute;
            top:300px;
            left: 590px;
        }
		a:link, a:visited {
    		color: #d8bf04;
    		text-align: center;
    		text-decoration: none;
    		display: inline-block;
  		}
		input {
			background-color: #eef52a;
  			border: none;
  			color: black;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			font-size: 16px;
  		}
    </style>
    <body>
        <h1><%= username %></h1>
        <p>
		<l>
			<a href="/edit-profile">Edit Profile</a> <br>
			<a href="/home">Home</a> <br>
        	<a href="<%= meLink %>">Me</a> <br>
        	<a href="/whistle">Whistle</a><br>
			<a href="/public">Public Board</a>
		</l>
        <center>
        	<form action="/process-delete-whistle" method="POST">
            	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<input type="hidden" name="whistle_id" value="<%= whistleId%>">
            	<h2><label>Delete the whistle? You cannot undo this</label><h2>
            	<input type="submit" value="Yes"> 
            </form>
        </center>
    </body>
</html>