<!DOCTYPE html>
<html>
<head>
<title>Whiiist | Home</title>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  }
  h1 {
    font-size: 20px;
  }
  l {
    font-size: 17px;
  }
  w {
    color: #160012
    font-size: 16px;
    position: absolute;
    left: 160px;
    top: 30px
  }
  a:link, a:visited {
    color: #d8bf04;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

</style>
</head>
<body>
	<h1><%= username %></h1>
    <l> 
		<a href="/edit-profile">Edit Profile</a> <br>
    	<a href="/home"> Home </a> <br>
    	<a href="<%= meLink %>"> Me </a> <br>
    	<a href="/new_whistle"> Whistle </a> <br>
    	<a href="/public"> Public Board </a> <br>
    </l>
    <w>
    	<b>Whistles</b> <br><br>
    	Not Implemented <br>
    </w>
</body>
</html>