<!DOCTYPE html>
<html>
    <title>Whiiist</title>
    <head>
    <style>
        h1 {
            font-size: 60px;
            font-family: "arial";
            text-align: center;
        }
        p {
            font-family: "arial";
            text-align: center
        }
		body {
			background-color: black;
  			color: white;
		}
		a:link, a:visited {
  			color: #d8bf04;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
		}
    </style>
    </head>
    <body>
        <h1>Whiiist</h1>
        <p> Whistle your thoughts to the world <a href="home-guest"> anonymously </a> or <a href="/auth/google"> sign in with google </a>.</p>
    </body>
</html>